/* prize section */
.prize_section {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.26'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2300004c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23000853' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23000f5a' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23001461' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23091A68' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='84.6%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='36.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23484848' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23484848' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23343434' stroke-width='1.4' stroke-miterlimit='10' stroke-opacity='0.42'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='0.42' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.title {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
  border-radius: 22% 80% 0% 0% / 0% 20% 100% 48%;
  background-size: cover;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.26'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%2300004c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23000853' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23000f5a' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23001461' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23091A68' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='84.6%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='36.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23484848' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23484848' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23343434' stroke-width='1.4' stroke-miterlimit='10' stroke-opacity='0.42'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='0.42' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: white;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
}
.prize_section_detail {
  /* width: %; */
  color: whitesmoke;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}
.prize_section_cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}
.prize_section_card {
  width: 30%;
  min-height: 48vh;
  font-family: "Poppins", sans-serif;
  /* background-color: #17171d;*/
  background-color: transparent;
  border-radius: 4%;
  border: 3px solid #db9c19;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
  background-color: black;
  cursor: pointer;
}

.prize_section_card:nth-child(even) {
  border: 3px solid rgb(243 65 16);
}

.prize_section_card div.img {
  max-height: 250px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.prize_section_card div.img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 1s ease;
}
.prize_section_card div.img:hover img {
  transform: scale(1.2);
}
.prize_section_card h1 {
  padding-top: 35%;
  font-weight: 900;
  font-size: 4rem;
}
.prize_section_card p {
  color: #fff;
  font-size: 1.2rem;
}
.prize_section_card.sponsors {
  padding: 40px;
}
.prize_section_card .sponsors_img {
  width: 70%;
  margin: auto;
}
.prize_section_card.sponsors p {
  font-size: 1rem;
  /* font-weight: 600; */
  width: 80%;
  line-height: 20px;
  margin: auto;
  margin-top: 40px;
}

/* footer */
.footer_sections {
  font-family: "Poppins", sans-serif;
  width: 80vw;
  margin: 30px auto;
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.footer_section {
  font-family: "Poppins", sans-serif;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.footer_sections img {
  height: 40px;
}
.social_icons {
  color: #747477;
}
.social_icons i {
  font-size: 25px;
  margin-left: 5px;
}
.footer_section_1 {
  background-color: #17171d;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 430px;
}
.prize_section_sponser {
  height: 90px !important;
  width: 120px !important;
}
.footer_section_1_content {
  display: flex;
  align-items: flex-start;
}
.footer_section_1_content img {
  margin-right: 10px;
}
.footer_section_1_content p {
  color: #747477;
}
.footer_section h1 {
  font-size: 20px;
  color: #fff;
}
.footer_section_2 {
  text-align: right;
  margin-top: 110px;
  margin-left: 100px;
}
.footer_section_2 a {
  color: #c2c2b7;
}
.footer_section img {
  width: 40px;
}
.footer_section_3 {
  width: 80vw;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_section_3 img {
  width: 300px;
}
/* media queries */
@media (max-width: 1200px) {
  .prize_section_card.sponsors {
    padding: 40px 18px;
  }
  .prize_section_card.sponsors p {
    width: 100%;
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .prize_section_card {
    width: 46%;
  }
  .prize_section_detail {
    width: 85%;
  }
  .footer_section {
    display: block;
    margin: auto;
  }
  .footer_section_1 {
    margin: 10px auto 20px auto;
    max-width: 600px;
    width: 600px;
  }
  .footer_section_2 {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_section_3 p {
    font-size: 10px;
  }
  .footer_section_3 img {
    width: 180px;
  }
}
@media (max-width: 692px) {
  .prize_section_card h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .prize_section_card p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer_section_1 {
    margin: 10px auto 20px auto;
    max-width: 500px;
    width: 500px;
  }
}
@media (max-width: 590px) {
  .title {
    margin-bottom: 0;
  }
  .prize_section_detail {
    margin-bottom: 20px;
  }
  .prize_section_card {
    width: 80%;
    margin-bottom: 20px;
  }
  .prize_section_card div.img {
    max-height: 200px;
  }
  .prize_section_detail {
    width: 100%;
  }
  .prize_section_card.sponsors {
    padding: 20px 25px;
  }
  .prize_section_card .sponsors_img {
    width: 100%;
  }
  .footer_section_1 {
    max-width: 410px;
    width: 410px;
  }
}
@media (max-width: 472px) {
  .prize_section_card {
    width: 100%;
  }
  .prize_section_card div.img {
    max-height: 180px;
  }
  .footer_section_1 {
    max-width: 350px;
    width: 350px;
  }
}
@media (max-width: 376px) {
  .footer_section_1 {
    max-width: 280px;
    width: 280px;
  }
  .footer_section_3 {
    display: block;
    padding-left: 80px;
  }
}
@media (max-width: 327px) {
  .footer_section_1 {
    max-width: 250px;
    width: 250px;
  }
  .footer_section_3 {
    display: block;
    padding-left: 30px;
  }
}
