* {
	box-sizing: border-box;
}
body {
	background-color: #121217;
	color: #fff;
	font-family: sans-serif;
}
body.blur {
	overflow: hidden;
}
body.blur #content > * {
	filter: blur(5px) brightness(0.7);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
body.blur #nav_bar_mobile .octahacks_logo {
	filter: blur(2px) brightness(0.7);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	max-width: 100%;
}

/* -------------------------------- Navbar Section ------------------------------------ */
#nav_bar {
	display: flex;
	height: 80px;
	justify-content: space-between;
	padding: 10px 60px;
	padding-right: 0;
}
#nav_bar .octahacks_logo {
	width: 8%;
}
#nav_bar .nav_links {
	width: 50%;
	text-align: center;
	padding-top: 20px;
}
#nav_bar .nav_links a {
	font-size: 1.3rem;
	color: #6d6d6d;
	margin-left: 20px;
	transition: all 0.5s ease;
}
#nav_bar .nav_links a:hover {
	color: #fff;
}
#nav_bar .gdsc_logo {
	width: 20%;
	margin-top: 10px;
}
/* ------------ Mobile Navbar -------- */
#nav_bar_mobile {
	display: none;
	height: 80px;
	justify-content: space-between;
	padding: 10px 5px;
}
aside.menubar {
	display: none;
}
#nav_bar_mobile .octahacks_logo {
	width: 20%;
}
.hamburger {
	display: none;
	margin-top: -10px;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	z-index: 10;
	margin-right: -15px;
	padding: 15px;
	border: 0px;
	background-color: transparent;
	color: inherit;
	text-transform: none;
	transition-timing-function: linear;
	transition-duration: 0.15s;
	transition-property: opacity, filter;
}
.hamburger .ham-box {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 24px;
}
.hamburger .ham-box-inner {
	position: absolute;
	top: 50%;
	right: 0px;
	width: 30px;
	height: 2px;
	border-radius: 4px;
	background-color: #ee6c4d;
	transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
	transform: rotate(0deg);
}
.hamburger .ham-box-inner::before,
.hamburger .ham-box-inner::after {
	content: '';
	display: block;
	position: absolute;
	left: auto;
	right: 0px;
	width: 30px;
	height: 2px;
	border-radius: 4px;
	background-color: #ee6c4d;
	transition-timing-function: ease;
	transition-duration: 0.15s;
	transition-property: transform;
}
.hamburger .ham-box-inner::before {
	width: 120%;
	top: -10px;
	opacity: 1;
	transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.hamburger .ham-box-inner::after {
	width: 80%;
	bottom: -10px;
	transform: rotate(0deg);
	transition: bottom 0.1s ease-in 0.25s;
}

/* ------------------------------ Landing Section --------------- */
#landing {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
}
#landing .left {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#landing .right {
	width: 50%;
}
#landing .left h1 {
	font-size: 3.8rem;
	/* font-weight: 800; */
	margin-bottom: 0px;
	margin-top: 0;
	/* text-shadow: 0 0 5px #e6881c, 0 0 10px #e6881c, 0 0 20px #e6881c,
		0 0 40px #e6881c, 0 0 80px #e6881c, 0 0 90px #e6881c, 0 0 100px #e6881c,
		0 0 150px #e6881c; */
}
#landing .left h3 {
	font-size: 1.2rem;
	margin-top: 5px;
}
#landing .left p {
	color: #757575;
	text-align: justify;
}
#landing .calendar {
	background-color: #292c36;
	width: 62%;
	border-radius: 8px;
	padding: 10px 15px;
	padding-bottom: 25px;
}
#landing .calendar .top span {
	display: inline-block;
}
#landing .calendar .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #929398;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
#landing .calendar .top > span {
	font-size: 0.8rem;
	font-weight: 600;
}
#landing .calendar .top > div > span {
	color: #929398 !important;
}
#landing .calendar .middle span {
	font-size: 1.4rem;
	font-weight: 600;
}
#landing .calendar .middle > span:first-of-type {
	background-color: #405167;
	border-radius: 25px;
	padding: 10px 15px;
	padding-right: 5px;
	margin-right: 8px;
}
#landing .calendar .middle > span > span:nth-child(3),
#landing .calendar .middle > span > span:nth-child(4),
#landing .calendar .middle > span > span:nth-child(5) {
	background-color: #71a0ce;
	border-radius: 100%;
	padding: 8px;
}
#landing .calendar .bottom {
	color: #5d5e60;
	font-size: 0.6rem;
	font-weight: 600;
	margin-top: 20px;
}
#landing .right.landing_vector {
	transform: scale(1.2);
}
#landing .buttons {
	display: flex;
}
#landing .buttons .devfolio_apply_button {
	height: 44px;
	width: 312px;
}
#landing .buttons .discord_button {
	width: 55px;
	background-color: #fff;
	height: 44px;
	margin-left: 15px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
}
#landing .buttons .discord_button img {
	transform: scale(1.6);
	filter: opacity(0.85);
}
/* style="height: 44px; width: 312px" */


/* ------------------------------- Media Queries ----------------------------- */
@media (max-width: 1200px) {
	/* Navbar Section */
	#nav_bar .nav_links {
		width: 80%;
	}
	#nav_bar .gdsc_logo {
		width: 30%;
	}
	/* Landing Section */
	#landing .calendar {
		width: 64%;
	}
}
@media (max-width: 1080px) {
	/* Landing Section */
	#landing .calendar {
		width: 80%;
	}
}
@media (max-width: 850px) { 
	/* hiccup in the nav from 850 to 786 */
	/* Navbar Section */
	#nav_bar {
		display: none;
	}
	#nav_bar_mobile {
		display: flex;
	}

	.hamburger {
		display: flex;
	}
	.hamburger-close .ham-box {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 24px;
	}
	.hamburger-close .ham-box-inner {
		position: absolute;
		top: 50%;
		right: 0px;
		width: 30px;
		height: 2px;
		border-radius: 4px;
		background-color: #ee6c4d;
		transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
		transform: rotate(225deg);
	}
	.hamburger-close .ham-box-inner::before {
		width: 100%;
		top: 0px;
		opacity: 0;
	}
	.hamburger-close .ham-box-inner::after {
		width: 100%;
		bottom: 0px;
		transform: rotate(90deg);
	}
	.hamburger-close .ham-box-inner::before,
	.hamburger-close .ham-box-inner::after {
		content: '';
		display: block;
		position: absolute;
		left: auto;
		right: 0px;
		width: 30px;
		height: 2px;
		border-radius: 4px;
		background-color: #ee6c4d;
		transition-timing-function: ease;
		transition-duration: 0.15s;
		transition-property: transform;
	}
	/* Aside Section */
	aside.menubar {
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		position: fixed;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding: 50px 10px;
		width: min(75vw, 400px);
		height: 100vh;
		outline: 0px;
		background-color: #0b0b1b;
		box-shadow: -10px 0px 30px -15px rgba(99, 99, 127, 0.5);
		z-index: 9;
		transform: translateX(100vw);
		visibility: hidden;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	.hamburger-close {
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		position: relative;
		z-index: 10;
		margin-right: -15px;
		padding: 15px;
		border: 0px;
		background-color: transparent;
		color: inherit;
		text-transform: none;
		transition-timing-function: linear;
		transition-duration: 0.15s;
		transition-property: opacity, filter;
	}
	aside.menubar-open {
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		position: fixed;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding: 50px 10px;
		width: min(75vw, 400px);
		height: 100vh;
		outline: 0px;
		background-color: #0b0b1b;
		box-shadow: -10px 0px 30px -15px rgba(99, 99, 127, 0.5);
		z-index: 9;
		transform: translateX(0vw);
		visibility: visible;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	aside.menubar-open ol a:hover,
	aside.menubar-open ol a:active,
	aside.menubar-open ol a:focus {
		color: #ee6c4d;
		outline: 0px;
	}
	aside.menubar nav {
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
		color: #6d6d6d;
		text-align: center;
	}
	aside.menubar ol {
		padding: 0px;
		margin: 0px;
		list-style: none;
		width: 100%;
	}
	aside.menubar ol li {
		position: relative;
		margin: 0px auto 20px;
		counter-increment: item 1;
		font-size: clamp(14px, 4vw, 18px);
	}
	aside.menubar ol li::before {
		content: '0' counter(item) '.';
		display: block;
		margin-bottom: 5px;
		color: #6d6d6d;
		font-size: 14px;
	}
	aside.menubar ol a {
		display: inline-block;
		text-decoration: none;
		text-decoration-skip-ink: auto;
		color: inherit;
		position: relative;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		width: 100%;
		padding: 3px 20px 20px;
	}
	aside.menubar .resume-link {
		color: #ee6c4d;
		background-color: transparent;
		border: 1px solid #6d6d6d;
		border-radius: 4px;
		font-size: 14px;
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		padding: 18px 50px;
		margin: 10% auto 0px;
		width: max-content;
	}
	aside.menubar-open nav {
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
		color: #6d6d6d;
		text-align: center;
	}
	aside.menubar-open ol {
		padding: 0px;
		margin: 0px;
		list-style: none;
		width: 100%;
	}
	aside.menubar-open ol li {
		position: relative;
		margin: 0px auto 20px;
		counter-increment: item 1;
		font-size: clamp(14px, 4vw, 18px);
	}
	aside.menubar-open ol li::before {
		content: '0' counter(item) '.';
		display: block;
		margin-bottom: 5px;
		color: #ee6c4d;
		font-size: 14px;
	}
	aside.menubar-open ol a {
		display: inline-block;
		text-decoration: none;
		text-decoration-skip-ink: auto;
		color: inherit;
		position: relative;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		width: 100%;
		padding: 3px 20px 20px;
	}
	/* aside.menubar {
		position: relative;
	} */
	aside.menubar .gdsc_logo {
		position: absolute;
		bottom: 0;
		left: 5px;
	}

	/* Landing Section */
	#landing .right {
		display: none;
	}
	#landing .left {
		width: 100%;
	}
	#landing .left .buttons {
		flex-direction: column;
		align-items: center;
	}
	#landing .left .buttons iframe {
		margin-bottom: 25px !important;
	}
	/* #landing .left .buttons .discord_button {
		di
	} */
}
